<ion-header>
  <ion-toolbar>
    
  <ion-row>
    <ion-col size="2">
      <div class="ion-text-start">
        <ion-icon class="ion-padding-top" name="chevron-back-outline" style="font-size: 30px;  color: black;"
        [routerLink]="['/inbox']"     ></ion-icon>
      </div>
    </ion-col>
    <ion-col size="8">
      <div class="ion-text-center">
        <h3>
          Inbox 
        </h3>
      </div>
    </ion-col>
    <ion-col size="2"></ion-col>

  </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row [routerLink]="['/chat']">
    <ion-col size="2">
      <ion-img src="../assets/user/one.png" style="width: 80%;" class="ion-padding-top"></ion-img>
    </ion-col>
    <ion-col size="6">
      <h4>Birnana support</h4>
      <h5>You: order 351</h5>
    </ion-col>


    
    <ion-col size="4">
      <h6>Nov 11, 11:41 AM</h6>
      <h6 ><ion-icon name="checkmark-done-outline"></ion-icon></h6>
    </ion-col>
  </ion-row>


  <ion-row [routerLink]="['/chat']">
    <ion-col size="2">
      <ion-img src="../assets/user/one.png" style="width: 80%;" class="ion-padding-top"></ion-img>
    </ion-col>
    <ion-col size="6">
      <h4>Birnana support</h4>
      <h5>You: order 351</h5>
    </ion-col>


    
    <ion-col size="4">
      <h6>Nov 11, 11:41 AM</h6>
      <h6 ><ion-icon name="checkmark-done-outline"></ion-icon></h6>
    </ion-col>
  </ion-row>



  <ion-row [routerLink]="['/chat']">
    <ion-col size="2">
      <ion-img src="../assets/user/one.png" style="width: 80%;" class="ion-padding-top"></ion-img>
    </ion-col>
    <ion-col size="6">
      <h4>Birnana support</h4>
      <h5>You: order 351</h5>
    </ion-col>


    
    <ion-col size="4">
      <h6>Nov 11, 11:41 AM</h6>
      <h6 ><ion-icon name="checkmark-done-outline"></ion-icon></h6>
    </ion-col>
  </ion-row>


</ion-content>







<ion-footer mode="ios" style="background-color:white;color:black">
  <ion-row>

    <ion-col class="ion-padding" size="2.5">
      <ion-tab-button tab="caregivers">
        <ion-icon name="home-outline" style="font-size:30px;" [routerLink]="['/dashboard']">
        </ion-icon>
        Home
      </ion-tab-button>

    </ion-col>
    <ion-col class="ion-padding" size="2.5" >
      <ion-tab-button tab="">
        <ion-icon name="reader-outline" style="font-size:30px" [routerLink]="['/orders']"></ion-icon>
        Orders
      </ion-tab-button>
    </ion-col>

    <ion-col class="ion-padding" size="2.5" >
      <ion-tab-button tab="">
        <ion-icon name="file-tray-outline" style="font-size:30px;" [routerLink]="['/products']"></ion-icon>
        Product
      </ion-tab-button>
    </ion-col>
    <ion-col class="ion-padding" size="2" style="color: #0081F7;">
      <ion-tab-button tab="">
        <ion-icon name="chatbubble-ellipses-outline" style="font-size:30px;" [routerLink]="['/inbox']"></ion-icon>
        Chat
      </ion-tab-button>

    </ion-col>
    <ion-col class="ion-padding" size="2.5">
      <ion-tab-button tab="">
        <ion-icon name="person-outline" style="font-size:30px" [routerLink]="['/account']"></ion-icon>
        Account
      </ion-tab-button>

    </ion-col>


  </ion-row>




</ion-footer>