.first-heading {
    font-family: "DM Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    color: #000000;
}
.edit {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 15;
    color: #0081f7;
}
.container {
    position: relative;
    text-align: center;
    color: white;
}

.bottom-right {
    position: absolute;
    bottom: 8px;
    right: 16px;

    width: 50%;
    height: 40px;
    background: #20a7db;
    border-radius: 5px;

    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 26px;
    color: #ffffff;
}

.heading h5 {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 25.5294px;
    color: #000000;
}
.heading h6 {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    color: #a0a0a0;
}
