<!-- <ion-header>
  <ion-toolbar mode="md">
    <ion-row class="ion-padding">
      <ion-col size="1">
        <ion-icon name="arrow-back-outline" style="font-size: 30px;" class="ion-padding-top"></ion-icon>
      </ion-col>
      <ion-col size="10">
        <h3 class="heading">Total Balance</h3>
      </ion-col>
      <ion-col size="1">
        <ion-icon name="notifications" style="font-size: 30px; color: #1B7CED;" class="ion-padding-top"></ion-icon>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header> -->

<ion-content>
  <ion-row class="ion-padding">
    <ion-col size="1">
      <ion-icon name="arrow-back-outline" style="font-size: 30px;" class="ion-padding-top" [routerLink]="['/dashboard']"></ion-icon>
    </ion-col>
    <ion-col size="10">
      <h3 class="heading">Total Balance</h3>
    </ion-col>
    <ion-col size="1">
      <ion-icon name="notifications" style="font-size: 30px; color: #1B7CED;" class="ion-padding-top"></ion-icon>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col size="12">
      <ion-card class="main-card">
        <ion-card-header>
          <div style="display: flex;justify-content:center">
            <div class="head">
              <ion-img src="../assets/dashboard/income.png" class="ion-padding"></ion-img>

            </div>


          </div>
          <div class="information">
            <div class="ion-text-center">
              <h4>$16239.00</h4>
              <h5>Total Balance (Overall Sales )</h5>
            </div>
          </div>
        </ion-card-header>
      </ion-card>
    </ion-col>
  </ion-row>

  <ion-row class="ion-padding">
    <ion-col size="12">
      <ion-segment value="default" color="secondary">
        <ion-segment-button value="default" (click)="Topsales()" id="1">
          <ion-label>Top Sales</ion-label>
        </ion-segment-button>
        <ion-segment-button value="segment" (click)=" Instock()" id="2" >
          <ion-label>In Stock</ion-label>
        </ion-segment-button>
      </ion-segment>
    </ion-col>

    <ion-col size="12">
      <ion-card class="sales-card" *ngIf="sales">
        <ion-card-header>
          <ion-row>
            <ion-col size="4">
                <ion-img src="../assets/dashboard/image.png" style="width: 60%;"></ion-img>
            </ion-col>
            <ion-col size="4">
              <h5 class="product">Product 1</h5>
            </ion-col>
            <ion-col size="4">
              <h5 class="number">#264100</h5>
            </ion-col>
          </ion-row>
        </ion-card-header>
        <ion-card-content>

          <ion-row>
            <ion-col size="6">

              <p class="reviews">
                Reviews & Ratings
              </p>
              <div class="rating">
                <ion-icon name="star-half-outline" style="color: #F1BD42;font-size: 20px;">
                </ion-icon>
                <p> 4.8 (112 Reviews)</p>
              </div>
            </ion-col>

            <ion-col size="6" class="message">
              <button>123 Sold Out !</button>
            </ion-col>
          </ion-row>


        </ion-card-content>
      </ion-card>
    </ion-col>

    <ion-col size="12">
      <ion-card class="sales-card" *ngIf="stock">
        <ion-card-header>
          <ion-row>
            <ion-col size="4">
              <ion-img src="../assets/dashboard/image.png" style="width: 60%;"></ion-img>
            </ion-col>
            <ion-col size="4">
              <h5 class="product">Product 1</h5>
            </ion-col>
            <ion-col size="4">
              <h5 class="number">#264100</h5>
            
            </ion-col>
          </ion-row>
        </ion-card-header>
        <ion-card-content>
          <ion-row>
            <ion-col size="6">
              <p class="reviews">
                Reviews & Ratings
              </p>
              <div class="rating">
                <ion-icon name="star-half-outline" style="color: #F1BD42;font-size: 20px;">
                </ion-icon>
                <p> 4.8 (112 Reviews)</p>
              </div>
            </ion-col>
            <ion-col size="6" class="message">
              <button>12 In Stock</button>
            </ion-col>
          </ion-row>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-content>



<ion-footer mode="ios" style="background-color:white;color:black">
  <ion-row>

    <ion-col class="ion-padding" size="2.5">
      <ion-tab-button tab="caregivers" style="color: #0081F7;">
        <ion-icon name="home-outline" style="font-size:30px;" [routerLink]="['/dashboard']">
        </ion-icon>
        Home
      </ion-tab-button>

    </ion-col>
    <ion-col class="ion-padding" size="2.5">
      <ion-tab-button tab="">
        <ion-icon name="reader-outline" style="font-size:30px" [routerLink]="['/orders']"></ion-icon>
        Orders
      </ion-tab-button>

    </ion-col>

    <ion-col class="ion-padding" size="2.5">
      <ion-tab-button tab="">
        <ion-icon name="file-tray-outline" style="font-size:30px;" [routerLink]="['/products']"></ion-icon>
        Product
      </ion-tab-button>

    </ion-col>
    <ion-col class="ion-padding" size="2">
      <ion-tab-button tab="">
        <ion-icon name="chatbubble-ellipses-outline" style="font-size:30px;" [routerLink]="['/inbox']"></ion-icon>
        Chat
      </ion-tab-button>

    </ion-col>
    <ion-col class="ion-padding" size="2.5">
      <ion-tab-button tab="">
        <ion-icon name="person-outline" style="font-size:30px" [routerLink]="['/account']"></ion-icon>
        Account
      </ion-tab-button>

    </ion-col>


  </ion-row>




</ion-footer>