<ion-header>
  <ion-toolbar>
    <ion-icon name="chevron-back-outline" style="font-size: 40px;  color: black;" [routerLink]="['/verification']"></ion-icon>
  </ion-toolbar>
</ion-header>


<ion-content>

  <div class="ion-padding">


    <h2>
      Phone
      Registration
    </h2>

    <p>
      Lorem ipsum dolor sit amet, consetetur sadipscing,
      lorem ipsum dolorsed diam nonumy amet eirmod.
    </p>
  </div>


  <ion-row>
    <ion-col size="12" class="ion-padding">


      <ion-input placeholder="location"></ion-input>


    </ion-col>

    <ion-col size="12" class="ion-padding">


      <ion-input placeholder="Number"></ion-input>


    </ion-col>



  </ion-row>



  <ion-row class="ion-padding" style="margin-top: 50%;">

    <ion-col size="12">
      <ion-button mode="ios" color="secondary" size="large" style="width: 100%;" [routerLink]="['/store-availability']">
        Registration
      </ion-button>
    </ion-col>

  </ion-row>

  <h6 class="ion-text-center">
    Already have an account? Login
  </h6>



</ion-content>