.menu {
    display: flex;
}
.user {
    font-family: "Inter";
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;

    color: #171930;
    padding-left: 5px;
}

.icons ion-icon {
    padding-left: 5px;
}

.month {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    color: #181725;
    padding-left: 10%;
}
.download {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    color: #2d66ec;
    padding-right: 10%;
}

.card-one {
    background: linear-gradient(180deg, #3e71e5 0%, #20a7db 100%);
    border-radius: 10px;
}
.one-end {
    display: flex;
    float: right;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    letter-spacing: -0.02em;
    padding: 8%;
    color: #15e64a;
}

.one-head {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    background: linear-gradient(180deg, #0081f7 0%, #70c2e7 100%);
}

.amount {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    letter-spacing: -0.02em;
    color: #ffffff;
}

.value {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    color: #f5f5f5;
}

.card-two {
    background: linear-gradient(180deg, #831bea 0%, rgba(0, 116, 201, 0.49) 118.06%, rgba(138, 42, 233, 0) 118.06%);
    border-radius: 10px;
}
.two-head {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    background: linear-gradient(180deg, #831bea 0%, rgba(0, 116, 201, 0.49) 118.06%, rgba(138, 42, 233, 0) 118.06%);
}

.card-three {
    background: linear-gradient(180deg, #0b3f1e 0%, #2fa94e 100%);
    border-radius: 10px;
}
.three-head {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    background: linear-gradient(180deg, #6dea9b 0%, #1b4024 100%);
}
.card-four {
    background: linear-gradient(180deg, #e79762 0%, #f87800 100%);
    border-radius: 10px;
}
.four-head {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    background: linear-gradient(180deg, #ffb800 0%, #e2b927 100%);
    border-radius: 10px;
}
.two-end {
    display: flex;
    float: right;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    letter-spacing: -0.02em;
    padding: 8%;
    color: #f30909;
}
