h3{
    font-family: 'DM Sans';
font-style: normal;
font-weight: 700;
font-size: 24px;
color: #000000;
}

h2{
    font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 24px;



color: #FFFFFF;
}

p{
    font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 14px;



color: #FFFFFF;

opacity: 0.8;
}