h3 {
    font-family: "DM Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    color: #000000;
}

h2 {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    color: #ffffff;
}

p {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: #ffffff;
    opacity: 0.8;
}
h4 {
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 14.692px;
    color: #2a2a2a;
}

h5 {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 9.79465px;
    color: #5b5b5b;
}
