<ion-header>
  <ion-toolbar>
    <ion-icon class="ion-padding" name="chevron-back-outline" style="font-size: 50px;color: black;"
      [routerLink]="['/products']"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-row>
    <ion-col>
      <div class="ion-text-end">
        <ion-icon class="ion-padding" name="notifications" style="font-size: 30px;color: #1B7CED;"></ion-icon>



      </div>
    </ion-col>

  </ion-row>

  <ion-row class="ion-padding">
    <ion-col>
      <div class="ion-text-start">
        <h3>Search</h3>

      </div>
    </ion-col>
  </ion-row>

  <ion-searchbar mode="ios"></ion-searchbar>

</ion-content>



<ion-footer mode="ios" style="background-color:white;color:black">
  <ion-row>
    
    <ion-col class="ion-padding" size="3">
      <ion-tab-button tab="caregivers">
        <ion-icon name="home-outline" style="font-size:30px; " [routerLink]="['/dashboard']"></ion-icon>
      </ion-tab-button>

    </ion-col>
    <ion-col class="ion-padding" size="3">
      <ion-tab-button tab="">
        <ion-icon name="search-outline" style="font-size:30px ;color: #0081F7;" [routerLink]="['/search']"></ion-icon>
      </ion-tab-button>

    </ion-col>

    <ion-col class="ion-padding" size="3">
      <ion-tab-button tab="">
        <ion-icon name="medkit-outline" style="font-size:30px " [routerLink]="['/addproduct']"></ion-icon>
      </ion-tab-button>

    </ion-col>
    <ion-col class="ion-padding" size="3">
      <ion-tab-button tab="">
        <ion-icon name="person-outline" style="font-size:30px" [routerLink]="['/account']"></ion-icon>
      </ion-tab-button>

    </ion-col>
   
  
  </ion-row>




</ion-footer>